{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Techno चुनाव-Dashboard</title>
  <!-- <link rel="icon" type="image/x-icon" src="{% static '../static/images/box.png' %}"> -->
  <!-- <link rel="icon" href="{% static 'images/box.png' %}" type="image/x-icon"> -->

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" rel="stylesheet">
  <style>
    /* scrollbar */
    body::-webkit-scrollbar {
      width: 10px;
    }

    body::-webkit-scrollbar-thumb:hover {
      background: #838ab6;
    }

    body::-webkit-scrollbar {
      background-color: transparent;
    }

    body::-webkit-scrollbar-thumb {
      background: #9DA5D5;
      border-radius: 8px;
    }

    .chart-container {
      display: flex;
      /* flex-wrap: wrap; */
      /* flex-direction: column; */
      justify-content: space-around;
      padding: 0;
    }

    .chart-container canvas {
      width: 93%;
      /* height: 200px; */
      height: 13em;
      max-width: 700px;
      /* margin: 10px 0; */
      margin: 7px 0;
    }

    .totalVoterCount-card-custom {
      /* background-color: #F5F2FD; */
      border-radius: 9px;
      background-color: #E2D6FF;
    }

    .totalVoterCount-card-custom:hover {
      box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
      border-radius: 9px;
      transition: 0.5s all ease-in-out;
    }

    .boothCount-card-custom {
      /* background-color: #EAF6EC; */
      border-radius: 9px;
      background-color: #D8FFDE;
    }

    .boothCount-card-custom:hover {
      box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
      transition: 0.5s all ease-in-out;
    }

    .prabhagCount-card-custom {
      /* background-color: #EAF6EC; */
      border-radius: 9px;
      background-color: #ffd9f7;
    }

    .prabhagCount-card-custom:hover {
      box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
      transition: 0.5s all ease-in-out;
    }

    .townCount-card-custom {
      /* background-color: #FEF6F1; */
      border-radius: 9px;
      background-color: #FFE8DA;
    }

    .townCount-card-custom:hover {
      box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
      transition: 0.5s all ease-in-out;
    }

    .boothUserCount-card-custom {
      /* background-color: #EBFDFF; */
      border-radius: 9px;
      background-color: #CBFAFF;
    }

    .boothUserCount-card-custom:hover {
      box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
      transition: 0.5s all ease-in-out;
    }

    .prabhagUserCount-card-custom {
      border-radius: 9px;
      background-color: #ffddda;
    }

    .prabhagUserCount-card-custom:hover {
      box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
      transition: 0.5s all ease-in-out;
    }

    .townUserCount-card-custom {
      /* background-color: #F1F4FD; */
      border-radius: 9px;
      background-color: #D4DEFD;
    }

    .townUserCount-card-custom:hover {
      box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
      transition: 0.5s all ease-in-out;
    }

    .new-card-custom {
      /* background-color: #FBF4D9; */
      border-radius: 9px;
      background-color: #FFF0B5;
    }

    .new-card-custom:hover {
      box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
      transition: 0.5s all ease-in-out;
    }

    .diffColorCount-card-custom:hover {
      box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
      transition: 0.5s all ease-in-out;
    }
  </style>
</head>

<body>
  {% include "navbar.html" %}
  <div id="contentWrapper">
    <div class="container">

      <div class="h4 mt-2 mb-3" style="cursor: default;">Overview</div>
      <!-- <div class=" p-4 rounded" style="background-color: #f9f7f7;"> -->
      <div class=" tp-4 rounded">
        <div class="row d-flex">
          <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 mb-3">
            <div class="card border-0">
              <div class="card-statistic-1 totalVoterCount-card-custom p-2"><a href="{% url 'TotalVoterList' %}"
                  class="nav-link">
                  <div class="mb-3">
                    <h6 class="card-title mb-0">&nbsp;<img
                        src="{% static '../static/images/dash_totalVotercount-icon.svg' %}">
                      &nbsp;Total Voters Count</h6>
                  </div>
                  <div class="row align-items-center d-flex">
                    <div class="col-8">
                      <h4 id="voters-count" class="placeholder-glow" style="margin-left: 6px; color: #8353E2;"><span
                          class="placeholder col-4" style="color: #8353E2;"></span></h4>
                    </div>
                  </div>
                </a>
              </div>
            </div>
          </div>
          <!-- <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 mb-3">
            <div class="card border-0">
              <div class="card-statistic-3 townCount-card-custom p-2"><a href="{% url 'TownDetails' %}"
                  class="nav-link">
                  <div class="mb-3">
                    <h6 class="card-title mb-0">
                      &nbsp;<img src="{% static '../static/images/dash_townCount-icon.svg' %}">&nbsp;Town Count</h6>
                  </div>
                  <div class="row align-items-center d-flex">
                    <div class="col-8">
                      <h4 id="Karyakarta-count" class="placeholder-glow" style="margin-left: 6px;  color: #CC5F12;">
                        <span class="placeholder col-4"></span>
                      </h4>
                    </div>
                  </div>
                </a>
              </div>
            </div>
          </div> -->
          <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 mb-3">
            <div class="card border-0">
              <div class="card-statistic-3 prabhagCount-card-custom p-2"><a href="{% url 'PrabhagDetails' %}"
                  class="nav-link">
                  <div class="mb-3">
                    <h6 class="card-title mb-0">
                      &nbsp;<img src="{% static '../static/images/dash_prabhagCount-icon.svg' %}">&nbsp;Ward Count</h6>
                  </div>
                  <div class="row align-items-center d-flex">
                    <div class="col-8">
                      <h4 id="prabhags-count" class="placeholder-glow" style="margin-left: 6px;  color: #da48ba;"><span
                          class="placeholder col-4"></span></h4>
                    </div>
                  </div>
                </a>
              </div>
            </div>
          </div>
          <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 mb-3">
            <div class="card border-0">
              <div class="card-statistic-3 boothCount-card-custom p-2"><a href="{% url 'BoothDetails' %}"
                  class="nav-link">
                  <div class="mb-3">
                    <h6 class="card-title mb-0">
                      &nbsp;<img src="{% static '../static/images/dash_boothCount-icon.svg' %}">&nbsp;Booth Count</h6>
                  </div>
                  <div class="row align-items-center d-flex">
                    <div class="col-8">
                      <h4 id="booths-count" class="placeholder-glow" style="margin-left: 6px;  color: #25A338;"><span
                          class="placeholder col-4"></span></h4>
                    </div>
                  </div>
                </a>
              </div>
            </div>
          </div>

        </div>
        <div class="row d-flex align-items-center">

          <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 mb-3">
            <div class="card border-0">
              <div class="card-statistic-3 new-card-custom p-2 ml-1"><a href="{% url 'VotedNonvotedList' %}"
                  class="nav-link">
                  <div class="mb-3">
                    <h6 class="card-title mb-0" style="cursor: default;">
                      &nbsp;<img src="{% static '../static/images/dash-votedNonvoted-icon.svg' %}">&nbsp;Voted /
                      Not-voted
                    </h6>
                  </div>
                  <div class="row align-items-center d-flex">
                    <div class="col-12">
                      <h4 class="placeholder-glow" style="margin-left: 6px; color: #E3B602;"><span
                          class="placeholder col-5" id="voted-count"></span> / <span id="non-voted-count"
                          class="placeholder col-5"></span>
                      </h4>
                      <p class="h6 placeholder-glow" style="margin-left: 6px; color: #E3B602;"><span
                          class="placeholder col-8" id="voted-parcentage"></span></p>
                    </div>
                  </div>
                </a>
              </div>
            </div>
          </div>

          <!-- <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 mb-3">
            <div class="card border-0">
              <div class="card-statistic-3 townUserCount-card-custom p-2 ml-1"><a href="/KaryakartaList/"
                  class="nav-link">
                  <div class="mb-3">
                    <h6 class="card-title mb-0">
                      &nbsp;<img src="{% static '../static/images/dash_townUserCount-icon.svg'%}">&nbsp;Town User Count
                    </h6>
                  </div>
                  <div class="row align-items-center d-flex">
                    <div class="col-8">
                      <h4 id="townUser-count" class="placeholder-glow" style="margin-left: 6px; color: #4069E5;"><span
                          class="placeholder col-4"></span></h4>
                    </div>
                  </div>
                </a>
              </div>
            </div>
          </div> -->
          <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 mb-3">
            <div class="card border-0">
              <div class="card-statistic-1 prabhagUserCount-card-custom p-2"><a href="{% url 'PrabhagUserList' %}"
                  class="nav-link">
                  <div class="mb-3">
                    <h6 class="card-title mb-0">&nbsp;<img
                        src="{% static '../static/images/dash-prabhagUserCount-icon.svg' %}">&nbsp;Ward User Count</h6>
                  </div>
                  <div class="row align-items-center d-flex">
                    <div class="col-8">
                      <h4 id="prabhagUser-count" class="placeholder-glow" style="margin-left: 6px; color: #ea4335;">
                        <span class="placeholder col-4"></span>
                      </h4>
                    </div>
                  </div>
                </a>
              </div>
            </div>
          </div>
          <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 mb-3">
            <div class="card border-0">
              <div class="card-statistic-1 boothUserCount-card-custom p-2"><a href="{% url 'BoothUser' %}"
                  class="nav-link">
                  <div class="mb-3">
                    <h6 class="card-title mb-0">&nbsp;<img
                        src="{% static '../static/images/dash-bUserCount-icon.svg' %}">&nbsp;Booth User Count</h6>
                  </div>
                  <div class="row align-items-center d-flex">
                    <div class="col-8">
                      <h4 id="boothUser-count" class="placeholder-glow" style="margin-left: 6px; color: #00BDD6;">
                        <span class="placeholder col-4"></span>
                      </h4>
                    </div>
                  </div>
                </a>
              </div>
            </div>
          </div>

        </div>
      </div>

      <div class="text-center diffColorCount-card-custom rounded p-2 mb-2" style="background-color: #f0eeee;">
        <div class="d-flex flex-wrap justify-content-center">
          <span class="px-4 py-1" style="cursor: default;" data-bs-toggle="tooltip" data-bs-placement="top"
            data-bs-title="Favoured">
            <img src="{% static '../static/images/green_circle.svg' %}" width="20" alt="">&nbsp;
            <span id="green_circle" style="color: #2d8c61;" class="fs-5 fw-semibold align-middle"></span>
          </span>
          <span class="px-4 py-1" style="cursor: default;" data-bs-toggle="tooltip" data-bs-placement="top"
            data-bs-title="Againts">
            <img src="{% static '../static/images/red_circle.svg' %}" width="20" alt="">&nbsp;
            <span id="red_circle" style="color: #dc3545;" class="fs-5 fw-semibold align-middle"></span>
          </span>
          <span class="px-4 py-1" style="cursor: default;" data-bs-toggle="tooltip" data-bs-placement="top"
            data-bs-title="Doubted">
            <img src="{% static '../static/images/yellow_circle.svg' %}" width="20" alt="">&nbsp;
            <span id="yellow_circle" style="color: #e3b602;" class="fs-5 fw-semibold align-middle"></span>
          </span>
          <span class="px-4 py-1" style="cursor: default;" data-bs-toggle="tooltip" data-bs-placement="top"
            data-bs-title="Pro plus">
            <img src="{% static '../static/images/blue_circle.svg' %}" width="20" alt="">&nbsp;
            <span id="blue_circle" style="color: #3683fd;" class="fs-5 fw-semibold align-middle"></span>
          </span>
          <span class="px-4 py-1" style="cursor: default;" data-bs-toggle="tooltip" data-bs-placement="top"
            data-bs-title="Pro">
            <img src="{% static '../static/images/lightBlue_circle.svg' %}" width="20" alt="">&nbsp;
            <span id="lightBlue_circle" style="color: #18b4ff;" class="fs-5 fw-semibold align-middle"></span>
          </span>
          <span class="px-4 py-1" style="cursor: default;" data-bs-toggle="tooltip" data-bs-placement="top"
            data-bs-title="No vote">
            <img src="{% static '../static/images/pink_circle.svg' %}" width="20" alt="">&nbsp;
            <span id="pink_circle" style="color: #dc7093;" class="fs-5 fw-semibold align-middle"></span>
          </span>
          <span class="px-4 py-1" style="cursor: default;" data-bs-toggle="tooltip" data-bs-placement="top"
            data-bs-title="No vote voted">
            <img src="{% static '../static/images/purple_circle.svg' %}" width="20" alt="">&nbsp;
            <span id="purple_circle" style="color: #8f0080;" class="fs-5 fw-semibold align-middle"></span>
          </span>
          <span class="px-4 py-1" style="cursor: default;" data-bs-toggle="tooltip" data-bs-placement="top"
            data-bs-title="Pending">
            <img src="{% static '../static/images/black_circle.svg' %}" width="20" alt="">&nbsp;
            <span id="black_circle" style="color: #0b0b0b;" class="fs-5 fw-semibold align-middle"></span>
          </span>
        </div>
      </div>

      <div class="h4 mb-3" style="cursor: default;">Detailed reports</div>
      <!-- <div class=" p-4 mb-2 rounded" style="background-color: #f9f7f7;"> -->
      <div class=" px-4 mb-2 rounded">
        <div class="d-flex flex-wrap chart-container">
          <div>
            <canvas id="myChart"></canvas>
          </div>
          <div>
            <canvas id="casteChart"></canvas>
          </div>
          <div>
            <canvas id="votedNonvotedChart"></canvas>
          </div>
        </div>
      </div>

    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
  <script>
    fetchFavourCounts();
    // Favourable, Nonfavourable & doubted Bar chart
    async function fetchData() {
      try {
        const response = await fetch("http://192.168.200.151:8001/api/voter_favour_counts/");
        const data = await response.json();

        const xValues = ["Favourable", "Non-Favourable", "Not-Confirmed", "Pending"];
        const yValues = [data.Favourable + data.chocolate, data.Non_Favourable, data.Not_Confirmed, data.Pending];
        const barColors = ["green", "red", "#ffcc00", "gray"];

        new Chart("myChart", {
          type: "bar",
          data: {
            labels: xValues,
            datasets: [{
              backgroundColor: barColors,
              data: yValues
            }]
          },
          options: {
            responsive: true,
            maintainAspectRatio: true,
            legend: { display: false },
            title: {
              display: true,
              text: "Distribution by Status"
            }
          }
        });
      } catch (error) {
        console.error("Error fetching data:", error);
      }
    }
    fetchData();

    // Cast Pie Chart
    async function fetchReligionCount() {
      try {
        const response = await fetch("http://192.168.200.151:8001/api/religion_count/");
        const data = await response.json();

        const casteLabels = ["Hindu", "Muslim", "Christaian", "Others"];
        const casteValues = [data.Hindu, data.Muslim, data.Christaian, data["Not Defined"]];
        const casteColors = ["#FFA500", "#25A338", "#00BDD6", "#8353E2"];

        new Chart("casteChart", {
          type: "doughnut",
          data: {
            labels: casteLabels,
            datasets: [{
              backgroundColor: casteColors,
              data: casteValues
            }]
          },
          options: {
            responsive: true,
            cutoutPercentage: 50,
            title: {
              display: true,
              text: "Distribution by Religion"
            }
          }
        });
      } catch (error) {
        console.error("Error fetching religion count data:", error);
      }
    }
    fetchReligionCount();

    // Voted & Nonvoted Bar chart
    async function fetchvotedNonVotedData() {
      try {
        const response = await fetch("http://192.168.200.151:8001/api/get_voted_and_non_voted_count/");
        const data = await response.json();

        const xValues = ["Voted", "Non-voted"];
        const yValues = [data.voted_count, data.non_voted_count];
        const barColors = ["green", "red"];

        new Chart("votedNonvotedChart", {
          type: "bar",
          data: {
            labels: xValues,
            datasets: [{
              backgroundColor: barColors,
              data: yValues
            }]
          },
          options: {
            responsive: true,
            maintainAspectRatio: true,
            legend: { display: false },
            title: {
              display: true,
              text: "Distribution by Vote Confirmation"
            }
          }
        });
      } catch (error) {
        console.error("Error fetching data:", error);
      }
    }
    fetchvotedNonVotedData();

    // Town user count
    function fetchTotalTownUserCount() {
      fetch('http://192.168.200.151:8001/api/town_user_info/')
        .then((res) => res.json())
        .then(data => {
          if (data) {
            document.getElementById('townUser-count').innerHTML = data.length;
          } else {
            console.error('Unexpected data format:', data);
          }
        })
        .catch((err) => {
          console.error('Fetch error:', err);
        });
    }
    fetchTotalTownUserCount();

    // Prabhag user count
    function fetchTotalPrabhagUserCount() {
      fetch('http://192.168.200.151:8001/api/prabhag_users_info/')
        .then((res) => res.json())
        .then(data => {
          if (data) {
            document.getElementById('prabhagUser-count').innerHTML = data.length;
          } else {
            console.error('Unexpected data format:', data);
          }
        })
        .catch((err) => {
          console.error('Fetch error:', err);
        });
    }
    fetchTotalPrabhagUserCount();

    // Booth user count
    function fetchBoothUserCount() {
      fetch('http://192.168.200.151:8001/api/register_user/')
        .then((res) => res.json())
        .then(data => {
          if (data) {
            document.getElementById('boothUser-count').innerHTML = data.length;
            // console.log(data.length);
          } else {
            console.error('Unexpected data format:', data);
          }
        })
        .catch((err) => {
          console.error('Fetch error:', err);
        });
    }
    fetchBoothUserCount();

    // Town user count
    function fetchTownUserCount() {
      fetch("http://192.168.200.151:8001/api/TownCountView/")
        .then((res) => res.json())
        .then(data => {
          if (data && typeof data === 'object' && 'count' in data) {
            document.getElementById('Karyakarta-count').innerHTML = data.count;
          } else {
            console.error('Unexpected data format:', data);
          }
        })
        .catch((err) => {
          console.error('Fetch error:', err);
        });
    }
    fetchTownUserCount();

    // Prabhag user count
    function fetchPrabhagUserCount() {
      fetch("http://192.168.200.151:8001/api/get_prabhags/")
        .then((res) => res.json())
        .then(data => {
          if (data) {
            document.getElementById('prabhags-count').innerHTML = data.length;
            // console.log(data.length);
          } else {
            console.error('Unexpected data format:', data);
          }
        })
        .catch((err) => {
          console.error('Fetch error:', err);
        });
    }
    fetchPrabhagUserCount();

    // Booth count
    function fetchBoothCount() {
      fetch("http://192.168.200.151:8001/api/BoothCountView/")
        .then((res) => res.json())
        .then(data => {
          if (data && typeof data === 'object' && 'count' in data) {
            document.getElementById('booths-count').innerHTML = data.count;
            // console.log(data.count);
          } else {
            console.error('Unexpected data format:', data);
          }
        })
        .catch((err) => {
          console.error('Fetch error:', err);
        });
    }
    fetchBoothCount();

    // Voter count
    function fetchVotersCount() {
      fetch("http://192.168.200.151:8001/api/voter_count")
        .then((res) => res.json()).then(data => {
          document.getElementById('voters-count').innerHTML = data.count;
          // console.log(data.count);
        })
        .catch((err) => {
          console.log(err);
        });
    }
    fetchVotersCount();

    // Favorable, Againts & Doubted
    function fetchVoterData() {
      fetch(`http://192.168.200.151:8001/api/voters/`)
        .then(response => response.json())
        .then(data => {
          if (data && Array.isArray(data.voters)) {
            const totalVoters = data.voters.length;
            // console.log('Total--', totalVoters);
            const favours = data.voters.filter(voter => voter.voter_favour_id === 1).length;
            const against = data.voters.filter(voter => voter.voter_favour_id === 2).length;
            const doubted = data.voters.filter(voter => voter.voter_favour_id === 3).length;

            document.getElementById('favours').innerHTML = favours;
            document.getElementById('against').innerHTML = against;
            document.getElementById('doubted').innerHTML = doubted;
          } else {
            console.error('Unexpected data format:', data);
          }
        })
        .catch(err => {
          console.error('Fetch error:', err);
        });
    }

    // Fetch Voted and Non-Voted counts
    function fetchVotedAndNonVotedCounts() {
      fetch('http://192.168.200.151:8001/api/get_voted_and_non_voted_count/')
        .then((res) => {
          if (!res.ok) {
            throw new Error('Network response was not ok');
          }
          return res.json();
        })
        .then(data => {
          // Ensure the data structure is correct
          if (data.voted_count !== undefined && data.non_voted_count !== undefined) {
            document.getElementById('voted-count').innerHTML = data.voted_count;
            document.getElementById('non-voted-count').innerHTML = data.non_voted_count;
            const votedPercentage = data.voted_percentage;
            // console.log(votedPercentage);
            if (votedPercentage === null) {
              document.getElementById('voted-parcentage').innerHTML = "0% People Voted.";
            } else {
              document.getElementById('voted-parcentage').innerHTML = votedPercentage + "% People Voted.";
            }
            // document.getElementById('voted-parcentage').innerHTML = votedPercentage + "% People Voted.";

            // Remove placeholder classes
            document.getElementById('voted-count').classList.remove('placeholder', 'col-5');
            document.getElementById('non-voted-count').classList.remove('placeholder', 'col-5');
            document.getElementById('voted-parcentage').classList.remove('placeholder', 'col-8');
          } else {
            console.error('Unexpected data format:', data);
          }
        })
        .catch((err) => {
          console.log('Fetch error:', err);
          // Optionally, show an error message to the user
        });
    }
    fetchVotedAndNonVotedCounts();

    // Fetch the data from the API
    function fetchFavourCounts() {
      // Define a mapping between voter_favour_id and span element IDs
      const circleIds = {
        1: 'green_circle',
        2: 'red_circle',
        3: 'yellow_circle',
        4: 'blue_circle',
        5: 'lightBlue_circle',
        6: 'pink_circle',
        7: 'purple_circle',
      };

      // Fetch the data from the API
      fetch('http://192.168.200.151:8001/api/favour_counts/')
        .then(response => response.json())
        .then(data => {
          let combinedCount = 0; // Variable to store combined count for 0 and null

          // Initialize all circles to 0 before processing the response
          Object.values(circleIds).forEach(spanId => {
            document.getElementById(spanId).textContent = '0';
          });
          document.getElementById('black_circle').textContent = '0'; // Set black_circle to 0 as well

          // Process the data from the API
          data.forEach(item => {
            const spanId = circleIds[item.voter_favour_id];

            if (item.voter_favour_id === 0 || item.voter_favour_id === null) {
              // Add to combined count for 0 and null
              combinedCount += item.count;
            } else if (spanId) {
              // Set count for specific voter_favour_id
              document.getElementById(spanId).textContent = item.count;
            }
          });

          // Update the combined count for black_circle (for 0 and null)
          document.getElementById('black_circle').textContent = combinedCount || '0';
        })
        .catch(error => console.error('Error fetching counts:', error));
    }

  </script>
</body>

</html>