<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Techno चुनाव-Exit Poll</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <style>
        /* scrollbar */
        body::-webkit-scrollbar {
            width: 10px;
        }

        body::-webkit-scrollbar-thumb:hover {
            background: #838ab6;
        }

        body::-webkit-scrollbar {
            background-color: transparent;
        }

        body::-webkit-scrollbar-thumb {
            background: #9DA5D5;
            border-radius: 8px;
        }

        .statistics {
            text-align: center;
        }

        .doughnut-chart {
            max-width: 150px;
            margin: 0 auto;
        }

        .chart-container {
            margin-top: 20px;
            padding: 1rem;
            /* background-color: #f3f1ef; */
            border-radius: 1.5rem;
        }

        .custom-text-light {
            color: gray;
        }
    </style>
</head>

<body>
    {% include "navbar.html" %}
    <div id="contentWrapper">
        <div style="flex: 1">
            <div class="container mt-3">

                <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item custom-text-light"><a class="nav-link"
                                href="/dashboard/">Dashboard</a></li>
                        <li class="breadcrumb-item" aria-current="page" style="cursor: default;">Exit Poll</li>
                    </ol>
                </nav>
                <div class="row">
                    <!-- <div class="h4 mb-2" style="cursor: default;">Statistics</div> -->
                    <!-- Charts Section -->
                    <div class="col-lg-12 px-4">
                        <div class="row">
                            <!-- Total Voted Reports -->
                            <div class="col-lg-6">
                                <div class="card">
                                    <div class="card-body">
                                        <h5 style="cursor: default;">Total Voted Reports</h5>
                                        <!-- <p class="text-muted">Tasks by components</p> -->
                                        <canvas id="votedNonvotedChart"></canvas>
                                    </div>
                                </div>
                            </div>
                            <!-- Total Favoured Voted Reports -->
                            <div class="col-lg-6">
                                <div class="card">
                                    <div class="card-body">
                                        <h5 style="cursor: default;">Total Favoured Voted Reports</h5>
                                        <!-- <p class="text-muted">Tasks by components</p> -->
                                        <canvas id="favouredVotedChart"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Statistics Section -->

                    <div class="col-lg-12 mt-3 mb-4 px-4">
                        <div class="card statistics">
                            <div class="card-body">
                                <div class="row chart-container">
                                    <div class="col-12 col-md-6">
                                        <p style="color: #00bdd6; font-weight: 500;">Support Margin</p>
                                        <canvas id="supportMarginChart" class="doughnut-chart"></canvas>
                                    </div>
                                    <div class="col-12 col-md-6">
                                        <p style="color: #875fff; font-weight: 500;">Against Margin</p>
                                        <canvas id="againstMarginChart" class="doughnut-chart"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
                crossorigin="anonymous">
                </script>

            <script>
                // Refresh the page every 1min
                setTimeout(function () {
                    location.reload();
                }, 60000);

                // Voted & Non-voted Bar chart
                async function fetchvotedNonVotedData() {
                    try {
                        const response = await fetch("http://192.168.200.84:8001/api/get_voted_and_non_voted_count/");
                        const data = await response.json();

                        const totalCount = data.voted_count + data.non_voted_count; // Calculate total count
                        const totalVoters = totalCount; // Assuming total voters are the sum of voted and non-voted
                        const xValues = ["Voted: " + data.voted_count, "Non-voted: " + data.non_voted_count, "Total Voters: " + totalVoters];
                        const yValues = [data.voted_count, data.non_voted_count, totalVoters];
                        const barColors = ["#3b82f6", "#ef4444", "#3b82f6"]; // Same color for Total Voters as Voted

                        const votedNonVotedChartCtx = document.getElementById('votedNonvotedChart').getContext('2d');
                        const votedNonVotedChart = new Chart(votedNonVotedChartCtx, {
                            type: "bar",
                            data: {
                                labels: xValues,
                                datasets: [{
                                    label: 'Vote Confirmation Status',
                                    data: yValues,
                                    backgroundColor: barColors,
                                    borderColor: barColors,
                                    borderWidth: 1
                                }]
                            },
                            options: {
                                responsive: true,
                                maintainAspectRatio: true,
                                plugins: {
                                    tooltip: {
                                        callbacks: {
                                            label: function (context) {
                                                let percentage;
                                                if (context.label === "Total Voters") {
                                                    percentage = 100; // Total voters will always be 100%
                                                } else {
                                                    percentage = (context.raw / totalCount) * 100; // Calculate percentage for voted and non-voted
                                                }
                                                return `${context.label}: ${context.raw} (${percentage.toFixed(0)}%)`;
                                            }
                                        }
                                    }
                                },
                                scales: {
                                    y: {
                                        beginAtZero: true
                                    }
                                }
                            }
                        });
                    } catch (error) {
                        console.error("Error fetching data:", error);
                    }
                }


                // Favourable, Non-Favourable, Not-Confirmed & Pending Bar chart
                async function fetchData() {
                    try {
                        const response = await fetch("http://192.168.200.84:8001/api/voter_favour_counts/");
                        const data = await response.json();

                        const totalVotes = data.Favourable + data.Non_Favourable + data.Not_Confirmed + data.Pending; // Calculate total votes
                        const xValues = ["Favourable: " + data.Favourable, "Non-Favourable: " + data.Non_Favourable, "Not-Confirmed: " + data.Not_Confirmed, "Pending: " + data.Pending];
                        const yValues = [data.Favourable, data.Non_Favourable, data.Not_Confirmed, data.Pending];
                        const barColors = ["#188357", "#ef4444", "#ffcc00", "gray"]; // Use consistent colors

                        const favouredVotedChartCtx = document.getElementById('favouredVotedChart').getContext('2d');
                        const favouredVotedChart = new Chart(favouredVotedChartCtx, {
                            type: 'bar',
                            data: {
                                labels: xValues,
                                datasets: [{
                                    label: 'Total Voter Status',
                                    data: yValues,
                                    backgroundColor: barColors,
                                    borderWidth: 1
                                }]
                            },
                            options: {
                                responsive: true,
                                plugins: {
                                    tooltip: {
                                        callbacks: {
                                            label: function (context) {
                                                let percentage = (context.raw / totalVotes) * 100; // Calculate percentage
                                                return `${context.label}: ${context.raw} (${percentage.toFixed(0)}%)`;
                                            }
                                        }
                                    }
                                },
                                scales: {
                                    y: {
                                        beginAtZero: true
                                    }
                                }
                            }
                        });
                    } catch (error) {
                        console.error("Error fetching data:", error);
                    }
                }

                // Doughnut Chart for Favourable Voter Counts
                async function fetchFavourableVoterData() {
                    try {
                        const response = await fetch("http://192.168.200.84:8001/api/voted_vote_confirmation_count_for_all/");
                        const data = await response.json();

                        // Extract the relevant counts
                        const yValues = [
                            data.favourable_voted_voters_count,
                            data.favourable_non_voted_voters_count
                        ];
                        const labels = ['Voted: ' + data.favourable_voted_voters_count, 'Non-Voted: ' + data.favourable_non_voted_voters_count];
                        const backgroundColors = ['#06b6d4', '#a6f5ff'];

                        const supportMarginChartCtx = document.getElementById('supportMarginChart').getContext('2d');
                        const supportMarginChart = new Chart(supportMarginChartCtx, {
                            type: 'doughnut',
                            data: {
                                labels: labels,
                                datasets: [{
                                    data: yValues,
                                    backgroundColor: backgroundColors,
                                    borderWidth: 1
                                }]
                            },
                            options: {
                                responsive: true,
                                cutout: '55%',
                                plugins: {
                                    tooltip: {
                                        enabled: true
                                    }
                                }
                            }
                        });
                    } catch (error) {
                        console.error("Error fetching data:", error);
                    }
                }

                // Doughnut Chart for Not Favourable Voter Counts
                async function fetchNotFavourableVoterData() {
                    try {
                        const response = await fetch("http://192.168.200.84:8001/api/voted_vote_confirmation_count_for_all/");
                        const data = await response.json();

                        // Extract the relevant counts
                        const yValues = [
                            data.not_favourable_voted_voters_count,
                            data.not_favourable_non_voted_voters_count
                        ];
                        const labels = ['Voted: ' + data.not_favourable_voted_voters_count, 'Non-Voted: ' + data.not_favourable_non_voted_voters_count];
                        const backgroundColors = ['#a78bfa', '#d9cbf6'];

                        const againstMarginChartCtx = document.getElementById('againstMarginChart').getContext('2d');
                        const againstMarginChart = new Chart(againstMarginChartCtx, {
                            type: 'doughnut',
                            data: {
                                labels: labels,
                                datasets: [{
                                    data: yValues,
                                    backgroundColor: backgroundColors,
                                    borderWidth: 1
                                }]
                            },
                            options: {
                                responsive: true,
                                cutout: '55%',
                                plugins: {
                                    tooltip: {
                                        enabled: true
                                    }
                                }
                            }
                        });
                    } catch (error) {
                        console.error("Error fetching data:", error);
                    }
                }

                fetchFavourableVoterData();
                fetchNotFavourableVoterData();
                fetchvotedNonVotedData();
                fetchData();
            </script>
</body>

</html>