<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Techno चुनाव-PanchayatSamitiCircleDetails</title>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous" />

    <style>
        /* scrollbar */
        body::-webkit-scrollbar {
            width: 10px;
        }

        body::-webkit-scrollbar-thumb:hover {
            background: #838ab6;
        }

        body::-webkit-scrollbar {
            background-color: transparent;
        }

        body::-webkit-scrollbar-thumb {
            background: #9DA5D5;
            border-radius: 8px;
        }

        table th {
            font-weight: 600;
            background-color: #DCE1FF !important;
        }

        .search {
            position: relative;
        }

        .btn-close {
            position: absolute;
            right: 45px;
            top: 50%;
            transform: translateY(-50%);
            cursor: pointer;
            background-color: #F8F9FA;
        }

        .input-group {
            position: relative;
        }

        .pagination .page-item.active .page-link {
            color: #fff;
            background-color: #3C4CAC;
            border-color: #DCE1FF;
        }

        .custom-text-light {
            color: gray;
        }

        .breadcrumb {
            --bs-breadcrumb-margin-bottom: 0;
        }
    </style>
</head>

<body>
    {% include "navbar.html" %}
    <div id="contentWrapper">
        <div class="container mt-3">

            <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item custom-text-light">
                        <a class="nav-link" href="/dashboard/">Dashboard</a>
                    </li>
                    <li class="breadcrumb-item custom-text-light" aria-current="page" style="cursor: default;">PS
                    </li>
                    <li class="breadcrumb-item" aria-current="page" style="cursor: default;">Panchayat Samiti Circle
                        Details</li>
                </ol>
            </nav>

            <!-- Search -->
            <div class="d-flex justify-content-end gap-3 me-4 mb-3">
                <!-- <button id="create-circle-btn" class="btn btn-success">Create ZP Circle</button> -->
                <button id="create-circle-btn" type="button" class="btn btn-success" data-bs-toggle="tooltip"
                    data-bs-placement="top" data-bs-title="Create Zilla Parishad Circle">
                    Create ZP Circle
                </button>

                <div class="search" style="width: 260px;">
                    <form class="d-flex" method="GET">
                        <div class="input-group">
                            <input type="text" id="search-input" name="search" class="form-control bg-light"
                                placeholder="Search by PS Circle" value="{{ request.GET.search }}" />
                            <button type="button" id="clear-button" class="btn-close" aria-label="Close"></button>
                            <button class="btn btn-success" type="submit">
                                <i class="fa-solid fa-magnifying-glass"></i></button>
                        </div>
                    </form>
                </div>
            </div>

            <div class="row" style="margin-bottom: 30px;">
                <div class="col-12 mb-3">
                    <div class="card">
                        <div class="table-responsive rounded">
                            <table class="table mb-0 table-striped rounded">
                                <thead class="text-muted text-uppercase">
                                    <tr>
                                        <th style="width: 0%;"></th>
                                        <th class="text-center fw-bolder">Sr. No.</th>
                                        <th class="fw-bolder">PS Circle Name</th>
                                        <th class="fw-bolder">Assigned User</th>
                                        <th class="fw-bolder">Contact</th>
                                        <!-- <th class="fw-bolder">Actions</th> -->
                                    </tr>
                                </thead>
                                <tbody id="user-table-body">
                                    {% if page_obj %}
                                    {% for psc in page_obj %}
                                    <tr>
                                        <td><input class="form-check-input booth-checkbox"
                                                type="checkbox" value="${psc.panchayat_samiti_circle_id}"
                                                id="townCheck${psc.panchayat_samiti_circle_id}">
                                        </td>
                                        <td class="text-center" style="width: 10%;">
                                            {{ forloop.counter|add:page_obj.start_index|add:"-1" }}
                                        </td>
                                        <td data-town-id="{{ psc.panchayat_samiti_circle_id }}"
                                            data-town-name="{{ psc.panchayat_samiti_circle_name }}">
                                            <a class="link-underline-primary text-dark" style="cursor: pointer;">
                                                {{ psc.panchayat_samiti_circle_name }}</a>
                                        </td>
                                        <td>{{ psc.panchayat_samiti_circle_user_name }}</td>
                                        <td>{{ psc.panchayat_samiti_circle_user_contact_number }}</td>
                                    </tr>
                                    {% endfor %}
                                    {% endif %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <!-- Selected Towns Modal -->
                <div class="modal fade" id="selectedTownsModal" tabindex="-1" aria-labelledby="selectedPCSModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="selectedPCSModalLabel">Selected PS Circles</h5>
                            </div>
                            <div class="modal-body">
                                <h6>Select ZP Circle Name</h6>
                                <ul id="selected-psc-list" class="list-group">
                                    <!-- Selected town names will be appended here -->
                                </ul>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary" id="confirm-selection">Confirm
                                    Selection</button>
                            </div>
                        </div>
                    </div>
                </div>


                <!-- Town Details Modal -->
                <div class="modal fade" id="boothDetailsModal" tabindex="-1" aria-labelledby="boothDetailsModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog modal-dialog-scrollable modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="boothDetailsModalLabel">Town Details List</h5>
                            </div>
                            <div class="modal-body">
                                <table class="table p-1">
                                    <thead class="text-muted text-uppercase">
                                        <tr>
                                            <th class="text-center fw-bolder">Sr. No.</th>
                                            <th class="fw-bolder">Town Name</th>
                                            <th class="fw-bolder">Assigned User</th>
                                            <th class="fw-bolder">Voter Count</th>
                                            <th class="fw-bolder">Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody id="booth-table-body">
                                        {% if page_obj %}
                                        {% for town in page_obj %}
                                        <tr>
                                            <td class="text-center">{{ forloop.counter }}</td>
                                            <td>{{ town.town_name }}</td>
                                            <td>{% if town.town_user_names %}{{ town.town_user_names|safe }}{% else
                                                %}N/A
                                                {% endif %}
                                            </td>
                                            <td>{{ town.voter_count }}</td>
                                            <td>
                                                <a href="/townwisevoterlist/{{town.town_id}}/"
                                                    class="btn btn-primary btn-sm" data-bs-toggle="tooltip"
                                                    data-bs-placement="right" title="View Voter List">
                                                    <i class="fa-solid fa-users-line"></i></a>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                        {% endif %}
                                    </tbody>
                                </table>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary"
                                        data-bs-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Pagination controls -->
                <div class="d-flex justify-content-center">
                    <nav aria-label="Page navigation">
                        <ul class="pagination justify-content-center mx-4">
                            {% if page_obj.has_previous %}
                            <li class="page-item">
                                <a class="page-link"
                                    href="?page=1{% if search_query %}&search={{ search_query }}{% endif %}"
                                    aria-label="First">
                                    <span aria-hidden="true">&laquo;&laquo;</span>
                                </a>
                            </li>
                            <li class="page-item">
                                <a class="page-link"
                                    href="?page={{ page_obj.previous_page_number }}{% if search_query %}&search={{ search_query }}{% endif %}"
                                    aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            {% else %}
                            <li class="page-item disabled"><span class="page-link">&laquo;&laquo;</span></li>
                            <li class="page-item disabled"><span class="page-link">&laquo;</span></li>
                            {% endif %}

                            <!-- Page Numbers -->
                            {% for num in page_obj.paginator.page_range %}
                            {% if num >= page_obj.number|add:'-1' and num <= page_obj.number|add:'1' %} <li
                                class="page-item {% if page_obj.number == num %}active{% endif %}">
                                <a class="page-link"
                                    href="?page={{ num }}{% if search_query %}&search={{ search_query }}{% endif %}">
                                    {{ num }}</a>
                                </li>
                                {% endif %}
                                {% endfor %}

                                <!-- Next Page and Last Page -->
                                {% if page_obj.has_next %}
                                <li class="page-item">
                                    <a class="page-link"
                                        href="?page={{ page_obj.next_page_number }}{% if search_query %}&search={{ search_query }}{% endif %}"
                                        aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link"
                                        href="?page={{ page_obj.paginator.num_pages }}{% if search_query %}&search={{ search_query }}{% endif %}"
                                        aria-label="Last">
                                        <span aria-hidden="true">&raquo;&raquo;</span>
                                    </a>
                                </li>
                                {% else %}
                                <li class="page-item disabled"><span class="page-link">&raquo;</span></li>
                                <li class="page-item disabled"><span class="page-link">&raquo;&raquo;</span></li>
                                {% endif %}
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            // Initialize tooltips
            const tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'));
            tooltipTriggerList.forEach(function (tooltipTriggerEl) {
                new bootstrap.Tooltip(tooltipTriggerEl);
            });

            // Event delegation for town names in the user table
            document.getElementById('user-table-body').addEventListener('click', function (event) {
                if (event.target.closest('td[data-town-id]')) {
                    const townId = event.target.closest('td[data-town-id]').getAttribute('data-town-id');
                    const townName = event.target.closest('td[data-town-id]').getAttribute('data-town-name');
                    fetchTownDetails(townId, townName);
                }
            });

            // Clear search input and reload the page without search query
            document.getElementById('clear-button').addEventListener('click', function () {
                document.getElementById('search-input').value = '';
                var url = new URL(window.location.href);
                url.searchParams.delete('search'); // Remove search query parameter from the URL
                window.location.href = url.toString(); // Reload the page with the updated URL
            });

            // Fetch Town details based on PSC id
            function fetchTownDetails(PSCId, PSCName) {
                fetch(`http://192.168.1.38:8000/api/get_town_info_by_psc/${parseInt(PSCId)}/`)
                    .then(response => {
                        if (!response.ok) {
                            throw new Error('Network response was not ok');
                        }
                        return response.json();
                    })
                    .then(data => {
                        const boothTableBody = document.getElementById('booth-table-body');
                        boothTableBody.innerHTML = ''; // Clear previous data

                        // Set the modal title to the town name
                        const modalTitle = document.getElementById('boothDetailsModalLabel');
                        modalTitle.textContent = `${PSCName} PSC's Town List`; // Update the title

                        // Check if 'data' exists and is an array
                        if (Array.isArray(data)) {  // Adjusted to directly check if 'data' is an array
                            data.forEach((town) => {
                                const row = `
                                    <tr>
                                        <td class="text-center">${town.serial_number}</td>
                                        <td data-booth-id="${town.town_id}" data-booth-name="${town.town_name}" class="booth-name"><a class="link-underline-primary text-dark" style="cursor: pointer;">
                                                ${town.town_name}</a></td>
                                        <td>${town.town_user_names || '--'}</td> 
                                        <td>${town.voter_count || '--'}</td>
                                        <td>
                                            <a href="/townwisevoterlist/${town.town_id}/" 
                                            class="btn btn-primary btn-sm" 
                                            data-bs-toggle="tooltip" 
                                            data-bs-placement="right" 
                                            title="View Voter List">
                                                <i class="fa-solid fa-users-line"></i>
                                            </a>
                                        </td>
                                    </tr>
                                `;
                                boothTableBody.innerHTML += row;
                            });
                        }
                        // Show the booth details modal
                        const boothDetailsModal = new bootstrap.Modal(document.getElementById('boothDetailsModal'));
                        boothDetailsModal.show();

                        // Add event listener for town names
                        boothTableBody.addEventListener('click', function (event) {
                            if (event.target.closest('.booth-name')) {
                                const townId = event.target.closest('.booth-name').getAttribute('data-booth-id');
                                const townName = event.target.closest('.booth-name').getAttribute('data-booth-name');
                                fetchBoothDetails(townId, townName);
                            }
                        });
                    })
                    .catch(error => {
                        console.error('Error fetching town details:', error);
                    });
            }

            // Function to fetch booth details from the API
            function fetchBoothDetails(townId, townName) {
                fetch(`http://192.168.1.38:8000/api/get_booth_details_by_town_id/${parseInt(townId)}/`)
                    .then(response => {
                        if (!response.ok) {
                            throw new Error('Network response was not ok');
                        }
                        return response.json();
                    })
                    .then(data => {
                        const boothTableBody = document.getElementById('booth-table-body');
                        boothTableBody.innerHTML = ''; // Clear previous data

                        // Set the modal title to the town name
                        const modalTitle = document.getElementById('boothDetailsModalLabel');
                        modalTitle.textContent = `${townName} Town's Booth List`; // Update the title

                        // Check if 'data' exists and is an array
                        if (Array.isArray(data.data)) {
                            data.data.forEach((booth, index) => {
                                // Parse booth_users_info to handle multiple users if available
                                let boothUsers = [];
                                if (booth.booth_users_info) {
                                    const userEntries = booth.booth_users_info.split(','); // Split by comma to get individual user info
                                    boothUsers = userEntries.map(userEntry => {
                                        const userParts = userEntry.split('|'); // Split by pipe to get user name and contact
                                        return `${userParts[0] || '--'}`; // Format as 'Username (Contact)'
                                    });
                                }

                                // Join all users with commas
                                const usersDisplay = boothUsers.join(', ');

                                const row = `
                                <tr>
                                    <td class="text-center">${index + 1}</td>
                                    <td>${booth.booth_name}</td>
                                    <td>${usersDisplay || '--'}</td>
                                    <td>${booth.voter_count || '--'}</td>
                                    <td>
                                        <a href="/boothwisevoterlist/${townId}/${booth.booth_id}/" 
                                        class="btn btn-primary btn-sm" 
                                        data-bs-toggle="tooltip" 
                                        data-bs-placement="right" 
                                        title="View Voter List">
                                            <i class="fa-solid fa-users-line"></i>
                                        </a>
                                    </td>
                                </tr>
                            `;
                                boothTableBody.innerHTML += row;
                            });
                        }

                        // Show the modal
                        const boothDetailsModal = new bootstrap.Modal(document.getElementById('boothDetailsModal'));
                        boothDetailsModal.show();
                    })
                    .catch(error => {
                        console.error('Error fetching booth details:', error);
                    });
            }


            // Event listener for the Create Circle button to open modal with selected towns
            document.getElementById('create-circle-btn').addEventListener('click', function () {
                showSelectedTowns();
            });

            // Show selected towns in the modal
            function showSelectedTowns() {
                const selectedTownsList = document.getElementById('selected-psc-list');
                selectedTownsList.innerHTML = ''; // Clear previous list

                // Capture selected checkboxes
                const checkboxes = document.querySelectorAll('.booth-checkbox:checked');
                // console.log('Selected checkboxes:', checkboxes); // Debugging

                const selectedTowns = [];

                checkboxes.forEach(checkbox => {
                    const townId = checkbox.value;
                    const townName = checkbox.closest('tr').querySelector('td[data-town-id] a').innerText;

                    // Add town to selected list
                    selectedTowns.push({ id: townId, name: townName });

                    const listItem = document.createElement('li');
                    listItem.classList.add('list-group-item', 'd-flex', 'align-items-center');

                    // Create radio button for each town
                    const newCheckbox = document.createElement('input');
                    newCheckbox.type = 'radio';
                    newCheckbox.name = 'circleTown';
                    newCheckbox.value = townName;
                    newCheckbox.classList.add('form-check-input', 'me-2');

                    listItem.appendChild(newCheckbox);
                    listItem.append(townName);

                    selectedTownsList.appendChild(listItem);
                });

                if (selectedTowns.length > 0) {
                    const selectedTownsModal = new bootstrap.Modal(document.getElementById('selectedTownsModal'));
                    selectedTownsModal.show();
                } else {
                    alert('Please select at least one PS to create a ZP Circle.');
                }
            }

            // Confirm selection and assign Panchayat Samiti Circle name
            document.getElementById('confirm-selection').addEventListener('click', function () {
                const selectedRadio = document.querySelector('input[name="circleTown"]:checked');
                if (selectedRadio) {
                    const panchayatSamitiCircleName = selectedRadio.value;

                    // Updated code to get selected town IDs
                    const selectedTownIds = [...document.querySelectorAll('.booth-checkbox:checked')].map(cb => {
                        return parseInt(cb.closest('tr').querySelector('td[data-town-id]').getAttribute('data-town-id'));
                    });

                    // Prepare data for API
                    const payload = {
                        panchayat_samiti_circle_ids: selectedTownIds, // Directly use the array
                        zp_circle_name: panchayatSamitiCircleName
                    };

                    // Send data to the API
                    fetch("http://192.168.1.38:8000/api/add_zp_circle_town/", {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                        },

                        body: JSON.stringify(payload)
                    })
                        .then(response => response.json())
                        .then(data => {
                            if (data.success) {
                                alert(data.success); // Show the success message
                                window.location.reload(); // Reload to see the changes

                            } else {
                                alert('Failed to create ZP Circle.');
                            }
                        })
                        .catch(error => {
                            console.error('Error:', error);
                            alert('An error occurred while creating the ZP Circle.');
                        });
                } else {
                    alert('Please select one PS to assign as the ZP Circle name.');
                }
            });
        });
    </script>
</body>

</html>