<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Techno चुनाव-UrbanRuralWiseExitPoll</title>

  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous" />

  <style>
    /* scrollbar */
    body::-webkit-scrollbar {
      width: 10px;
    }

    body::-webkit-scrollbar-thumb:hover {
      background: #838ab6;
    }

    body::-webkit-scrollbar {
      background-color: transparent;
    }

    body::-webkit-scrollbar-thumb {
      background: #9DA5D5;
      border-radius: 8px;
    }

    table th {
      font-weight: 600;
      background-color: #DCE1FF !important;
    }

    .search {
      position: relative;
    }

    .btn-close {
      position: absolute;
      right: 45px;
      top: 50%;
      transform: translateY(-50%);
      cursor: pointer;
      background-color: #F8F9FA;
    }

    .input-group {
      position: relative;
    }

    .pagination .page-item.active .page-link {
      color: #fff;
      background-color: #3C4CAC;
      border-color: #DCE1FF;
    }

    .custom-text-light {
      color: gray;
    }
  </style>
</head>

<body>
  {% include "navbar.html" %}
  <div id="contentWrapper">
    <div class="container mt-3">
      <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item custom-text-light">
            <a class="nav-link" href="/dashboard/">Dashboard</a>
          </li>
          <li class="breadcrumb-item custom-text-light" aria-current="page" style="cursor: default;">Exit Poll</li>
          <li class="breadcrumb-item" aria-current="page" style="cursor: default;">Urban/Rural Wise Exit Poll</li>
        </ol>
      </nav>

      <div class="d-flex justify-content-end gap-3 me-4 mb-3">
        <div class="input-group">
          <!-- Urban/Rural Buttons -->
          <button class="btn btn-success" id="urbanlist" type="button" aria-label="Urban View">Urban</button>
          <button class="btn btn-success" id="rurallist" type="button" aria-label="Rural View">Rural</button>
        </div>

        <div class="search" style="width: 350px;">
          <!-- Search Form -->
          <form class="d-flex" id="search-form" method="GET" action="#">
            <div class="input-group">
              <input type="text" id="search-input" name="search" class="form-control bg-light"
                placeholder="Search by Booth" value="{{ request.GET.search }}" aria-label="Search by Booth" />
              <button type="button" id="clear-button" class="btn-close" aria-label="Clear Search"></button>
              <button class="btn btn-success" type="submit" aria-label="Submit Search">
                <i class="fa-solid fa-magnifying-glass"></i>
              </button>
            </div>
          </form>
          <!-- <form class="d-flex" method="GET" action="#">
            <div class="input-group">
              <input type="text" id="search-input" name="search" class="form-control bg-light"
                placeholder="Search by Booth" value="{{ request.GET.search }}" aria-label="Search by Booth" />
              <button type="button" id="clear-button" class="btn-close" aria-label="Clear Search"></button>
              <button class="btn btn-success" type="submit" aria-label="Submit Search">
                <i class="fa-solid fa-magnifying-glass"></i>
              </button>
            </div>
          </form> -->
        </div>

        <!-- Export Button -->
        <a href="javascript:void(0)" id="export-btn" class="btn btn-light border"
          aria-label="Export Voter Count">Export</a>
      </div>

      <div class="row" style="margin-bottom: 30px;">
        <div class="col-12 mb-3">
          <div class="card">
            <div class="table-responsive rounded">
              <table class="table mb-0 table-striped rounded">
                <thead class="text-muted text-uppercase">
                  <tr>
                    <th class="text-center fw-bolder">Sr. No.</th>
                    <th class="fw-bolder">Booth Name</th>
                    <th class="fw-bolder">Booth User</th>
                    <th class="fw-bolder">Booth Voter Count</th>
                    <th class="fw-bolder">Total Green</th>
                    <th class="fw-bolder">Total Red</th>
                    <th class="fw-bolder">Total Yellow</th>
                    <th class="fw-bolder">Total Voted Count</th>
                    <th class="fw-bolder">Favoured Voted</th>
                    <th class="fw-bolder">Favoured Non-voted</th>
                    <th class="fw-bolder">Favoured Voted %
                      <!-- &nbsp;&nbsp;
                      <button type="button" id="ace-dec-btn" data-sort="asc" class="btn btn-sm btn-outline-dark">
                        <i class="fa-solid fa-arrow-down"></i></button> -->
                    </th>
                  </tr>
                </thead>
                <tbody id="booth-table-body">
                  {% if page_obj %}
                  {% for booth in page_obj %}
                  <tr>
                    <td class="text-center">{{ forloop.counter|add:page_obj.start_index|add:"-1" }}</td>
                    <td>{{ booth.booth_name }}</td>
                    <td>{{ booth.booth_user_names }}</td>
                    <td>{{ booth.voter_count }}</td>
                    <td>{{ booth.favor_count }}</td>
                    <td>{{ booth.non_favor_count }}</td>
                    <td>{{ booth.not_confirm_count }}</td>
                    <td>{{ booth.total_voted_count }}</td>
                    <td>{{ booth.favor_voted }}</td>
                    <td>{{ booth.favor_non_voted }}</td>
                    <td>{{ booth.favor_percentage }}%</td>
                  </tr>
                  {% empty %}
                  <tr>
                    <td colspan="7" class="text-center">No results found.</td>
                  </tr>
                  {% endfor %}
                  {% endif %}
                </tbody>

              </table>
            </div>
          </div>
        </div>

        <!-- Pagination controls -->
        <!-- <div class="d-flex justify-content-center">
          <nav aria-label="Page navigation">
            <ul class="pagination justify-content-center mx-4">
              {% if page_obj.has_previous %}
              <li class="page-item">
                <a class="page-link" href="?page=1{% if search_query %}&search={{ search_query }}{% endif %}"
                  aria-label="First">
                  <span aria-hidden="true">&laquo;&laquo;</span>
                </a>
              </li>
              <li class="page-item">
                <a class="page-link"
                  href="?page={{ page_obj.previous_page_number }}{% if search_query %}&search={{ search_query }}{% endif %}"
                  aria-label="Previous">
                  <span aria-hidden="true">&laquo;</span>
                </a>
              </li>
              {% else %}
              <li class="page-item disabled"><span class="page-link">&laquo;&laquo;</span></li>
              <li class="page-item disabled"><span class="page-link">&laquo;</span></li>
              {% endif %}
              {% for num in page_obj.paginator.page_range %}
              {% if num >= page_obj.number|add:'-1' and num <= page_obj.number|add:'1' %} <li
                class="page-item {% if page_obj.number == num %}active{% endif %}">
                <a class="page-link" href="?page={{ num }}{% if search_query %}&search={{ search_query }}{% endif %}">
                  {{ num }}
                </a>
                </li>
                {% endif %}
                {% endfor %}
                {% if page_obj.has_next %}
                <li class="page-item">
                  <a class="page-link"
                    href="?page={{ page_obj.next_page_number }}{% if search_query %}&search={{ search_query }}{% endif %}"
                    aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                  </a>
                </li>
                <li class="page-item">
                  <a class="page-link"
                    href="?page={{ page_obj.paginator.num_pages }}{% if search_query %}&search={{ search_query }}{% endif %}"
                    aria-label="Last">
                    <span aria-hidden="true">&raquo;&raquo;</span>
                  </a>
                </li>
                {% else %}
                <li class="page-item disabled"><span class="page-link">&raquo;</span></li>
                <li class="page-item disabled"><span class="page-link">&raquo;&raquo;</span></li>
                {% endif %}
            </ul>
          </nav>
        </div> -->
      </div>
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>

  <script>
    let currentAreaType = ''; // To keep track of selected area type

    // Refresh the page every 1min
    // setTimeout(function () {
    //   location.reload();
    // }, 60000);

    // Function to capitalize first letter of each word
    function capitalizeWords(str) {
      return str.replace(/\w\S*/g, function (txt) {
        return txt.charAt(0).toUpperCase() + txt.substr(1).toLowerCase();
      });
    }

    // Ace-Dec button toggle
    document.addEventListener('DOMContentLoaded', function () {
      // const button = document.getElementById('ace-dec-btn');
      // const sortOrder = new URL(window.location.href).searchParams.get('sort');

      // if (sortOrder === 'desc') {
      //   button.setAttribute('data-sort', 'desc');
      //   button.querySelector('i').classList.remove('fa-arrow-down');
      //   button.querySelector('i').classList.add('fa-arrow-up');
      // } else {
      //   button.setAttribute('data-sort', 'asc');
      //   button.querySelector('i').classList.remove('fa-arrow-up');
      //   button.querySelector('i').classList.add('fa-arrow-down');
      // }

      // Event listener for toggling sort order
      // button.addEventListener('click', function () {
      //   const currentSort = button.getAttribute('data-sort');
      //   const newSort = currentSort === 'asc' ? 'desc' : 'asc';
      //   button.setAttribute('data-sort', newSort);

      //   const icon = button.querySelector('i');
      //   if (newSort === 'asc') {
      //     icon.classList.remove('fa-arrow-up');
      //     icon.classList.add('fa-arrow-down');
      //   } else {
      //     icon.classList.remove('fa-arrow-down');
      //     icon.classList.add('fa-arrow-up');
      //   }

      //   const url = new URL(window.location.href);
      //   url.searchParams.set('sort', newSort);
      //   window.location.href = url.toString();
      // });

      // Search close button
      document.getElementById('clear-button').addEventListener('click', function () {
        document.getElementById('search-input').value = '';
        var form = this.closest('form');
        var url = new URL(window.location.href);
        url.searchParams.delete('search');
        window.location.href = url.toString();
      });

      // Urban/Rural button click
      document.getElementById('urbanlist').addEventListener('click', function () {
        currentAreaType = '1';
        fetchBoothData(currentAreaType);
        // updateExportLink(currentAreaType);
      });

      document.getElementById('rurallist').addEventListener('click', function () {
        currentAreaType = '2';
        fetchBoothData(currentAreaType);
        // updateExportLink(currentAreaType);
      });

      // Update Export Button Link
      function updateExportLink(areaType) {
        const exportBtn = document.getElementById('export-btn');
        exportBtn.setAttribute('href', `http://192.168.200.84:8001/api/get_voter_count_pdf/${areaType}/`);
      }

      // Function to fetch and display booth data
      function fetchBoothData(areaType = '') {
        const apiUrl = areaType
          ? `http://192.168.200.84:8001/api/get_voter_count_by_town_area_type/${areaType}/`
          : `http://192.168.200.84:8001/api/get_voter_count_by_town_area_type/`;

        fetch(apiUrl)
          .then(response => response.json())
          .then(data => {
            const boothData = data.booth_voter_counts;
            const boothTableBody = document.getElementById('booth-table-body');

            boothTableBody.innerHTML = ''; // Clear table

            boothData.forEach((booth, index) => {
              const row = document.createElement('tr');
              row.innerHTML = `
              <td class="text-center">${index + 1}</td>
              <td>${booth.booth_name}</td>
              <td>${capitalizeWords(booth.booth_user_names) || '--'}</td>
              <td>${booth.voter_count}</td>
              <td>${booth.favor_count}</td>
              <td>${booth.non_favor_count}</td>
              <td>${booth.not_confirm_count}</td>
              <td>${booth.total_voted_count}</td>
              <td>${booth.favor_voted}</td>
              <td>${booth.favor_non_voted}</td>
              <td>${booth.favor_percentage || '0'}%</td>
            `;
              boothTableBody.appendChild(row);
            });
          })
          .catch(error => {
            console.error('Error fetching data:', error);
          });
      }

      // Initial fetch without area type
      fetchBoothData(currentAreaType);

      // document.addEventListener('DOMContentLoaded', function () {
      const searchForm = document.getElementById('search-form');
      const searchInput = document.getElementById('search-input');
      const clearButton = document.getElementById('clear-button');
      const boothTableBody = document.getElementById('booth-table-body');

      // Clear the search field when the clear button is clicked
      clearButton.addEventListener('click', function () {
        searchInput.value = '';
        searchForm.submit(); // Submitting form with an empty search to reset the filter
      });

      // Submit search form via AJAX
      searchForm.addEventListener('submit', function (e) {
        e.preventDefault(); // Prevent normal form submission

        const searchQuery = searchInput.value;
        fetchResults(searchQuery);
      });

      // Function to fetch and display booth data based on the search query
      function fetchResults(searchQuery) {
        const url = new URL(window.location.href);
        if (searchQuery) {
          url.searchParams.set('search', searchQuery); // Set the search query parameter
        } else {
          url.searchParams.delete('search'); // Remove the search query parameter
        }

        // Fetch updated booth data without reloading the page
        fetch(url.toString())
          .then(response => response.text())
          .then(data => {
            // Update the table body with the new data
            const newDoc = new DOMParser().parseFromString(data, 'text/html');
            boothTableBody.innerHTML = newDoc.querySelector('#booth-table-body').innerHTML;
          })
          .catch(error => console.error('Error fetching booth data:', error));
      }
    });
  </script>
</body>

</html>