<!-- templates/404.html -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Techno चुनाव-UnderConstruction</title>
    <!-- Include Bootstrap or your preferred CSS framework -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" rel="stylesheet">
    <style>
        .hmb-btn {
            background-color: #9DA5D5;
            color: #3C4CAC;
        }
        .hmb-btn:hover {
            background-color: #7884ca;
            color: #3C4CAC;
        }
        /* .under-construction-img {
            mix-blend-mode:darken;
            background-color: transparent;
        } */
    </style>
</head>

<body>
    <nav class="navbar sticky-top navbar-expand-lg border-bottom bg-light z-5">
        <div class="d-flex align-items-center">
            <button type="button" class="btn hmb-btn ms-3"><i class="fa-solid fa-bars"></i></button>
            <span class="h4 title-color align-content-center ms-2 mb-0" style="color: #3C4CAC;">DEV
                Constituency</span>
        </div>
    </nav>

    <div class="container text-center mt-5">
        <!-- <h1 class="display-4 text-danger fw-bolder">The Page is Under Construction.</h1> -->
         <img src="../static/images/under-construction.png" class="img-fluid under-construction-img" alt="">
        <p class="lead fst-italic fw-bolder">The page you're looking for is under construction. Please try again later.</p>
        <div class="flex align-items-center text-center">
            <!-- <a href="javascript:location.reload()" class="btn btn-primary">Retry</a> -->
        </div>
    </div>

    <!-- Optionally, include JavaScript for Bootstrap or other libraries -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>