<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Techno चुनाव-ZillaParishadCircleList</title>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous" />

    <style>
        /* scrollbar */
        body::-webkit-scrollbar {
            width: 10px;
        }

        body::-webkit-scrollbar-thumb:hover {
            background: #838ab6;
        }

        body::-webkit-scrollbar {
            background-color: transparent;
        }

        body::-webkit-scrollbar-thumb {
            background: #9DA5D5;
            border-radius: 8px;
        }

        table th {
            font-weight: 600;
            background-color: #DCE1FF !important;
        }

        .search {
            position: relative;
        }

        .btn-close {
            position: absolute;
            right: 45px;
            top: 50%;
            transform: translateY(-50%);
            cursor: pointer;
            background-color: #F8F9FA;
        }

        .input-group {
            position: relative;
        }

        .pagination .page-item.active .page-link {
            color: #fff;
            background-color: #3C4CAC;
            border-color: #DCE1FF;
        }

        .custom-text-light {
            color: gray;
        }

        .breadcrumb {
            --bs-breadcrumb-margin-bottom: 0;
        }
    </style>
</head>

<body>
    {% include "navbar.html" %}
    <div id="contentWrapper">
        <div class="container mt-3">

            <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item custom-text-light">
                        <a class="nav-link" href="/dashboard/">Dashboard</a>
                    </li>
                    <li class="breadcrumb-item custom-text-light" aria-current="page" style="cursor: default;">ZP
                    </li>
                    <li class="breadcrumb-item" aria-current="page" style="cursor: default;">Zilla Parishad Circle
                        Details
                    </li>
                </ol>
            </nav>

            <!-- Search -->
            <div class="d-flex justify-content-end gap-3 me-4 mb-3">
                <div class="search" style="width: 260px;">
                    <form class="d-flex" method="GET">
                        <div class="input-group">
                            <input type="text" id="search-input" name="search" class="form-control bg-light"
                                placeholder="Search by ZP Circle" value="{{ request.GET.search }}" />
                            <button type="button" id="clear-button" class="btn-close" aria-label="Close"></button>
                            <button class="btn btn-success" type="submit">
                                <i class="fa-solid fa-magnifying-glass"></i></button>
                        </div>
                    </form>
                </div>
            </div>

            <div class="row" style="margin-bottom: 30px;">
                <div class="col-12 mb-3">
                    <div class="card">
                        <div class="table-responsive rounded">
                            <table class="table mb-0 table-striped rounded">
                                <thead class="text-muted text-uppercase">
                                    <tr>
                                        <th class="text-center fw-bolder">Sr. No.</th>
                                        <th class="fw-bolder">ZP Circle Name</th>
                                        <th class="fw-bolder">Assigned User</th>
                                        <th class="fw-bolder">User Contact</th>
                                        <!-- <th class="fw-bolder">Actions</th> -->
                                    </tr>
                                </thead>
                                <tbody id="user-table-body">
                                    {% if page_obj %}
                                    {% for zpc in page_obj %}
                                    <tr>
                                        <td class="text-center" style="width: 10%;">
                                            {{ forloop.counter|add:page_obj.start_index|add:"-1" }}
                                        </td>
                                        <td data-zp-id="{{ zpc.zp_circle_id }}">
                                            <a class="link-underline-primary text-dark" style="cursor: pointer;">
                                                {{ zpc.zp_circle_name }}</a>
                                        </td>
                                        <td data-zp-id="{{ zpc.zp_circle_id }}">
                                            {{ zpc.zp_circle_user_name }}
                                        </td>
                                        <td data-zp-id="{{ zpc.zp_circle_id }}">
                                            {{ zpc.zp_circle_user_contact_number }}
                                        </td>
                                    </tr>
                                    {% endfor %}
                                    {% endif %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <!-- PS Circle Details Modal -->
                <div class="modal fade" id="PSCircleDetailsModal" tabindex="-1"
                    aria-labelledby="PSCircleDetailsModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-scrollable modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="PSCircleDetailsModalLabel">PS Circle Details List</h5>
                            </div>
                            <div class="modal-body">
                                <table class="table p-1">
                                    <thead class="text-muted text-uppercase">
                                        <tr>
                                            <th class="text-center fw-bolder">Sr. No.</th>
                                            <th class="fw-bolder">PS Circle Name</th>
                                            <!-- <th class="fw-bolder">Assigned User</th> -->
                                        </tr>
                                    </thead>
                                    <tbody id="ps-table-body">
                                    </tbody>
                                </table>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary"
                                        data-bs-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- zp Details Modal -->
                <div class="modal fade" id="zpDetailsModal" tabindex="-1" aria-labelledby="zpDetailsModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog modal-dialog-scrollable modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="zpDetailsModalLabel">ZP Details List</h5>
                            </div>
                            <div class="modal-body">
                                <table class="table p-1">
                                    <thead class="text-muted text-uppercase">
                                        <tr>
                                            <th class="text-center fw-bolder">Sr. No.</th>
                                            <th class="fw-bolder">zp Name</th>
                                            <th class="fw-bolder">Assigned User</th>
                                            <th class="fw-bolder">Voter Count</th>
                                            <th class="fw-bolder">Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody id="zp-table-body">
                                        {% if page_obj %}
                                        {% for zp in page_obj %}
                                        <tr>
                                            <td class="text-center">{{ forloop.counter }}</td>
                                            <td>{{ zp.zp_name }}</td>
                                            <td>{% if zp.zp_user_names %}{{ zp.zp_user_names|safe }}{% else
                                                %}N/A
                                                {% endif %}
                                            </td>
                                            <td>{{ zp.voter_count }}</td>
                                            <td>
                                                <a href="/zpwisevoterlist/{{zp.zp_id}}/" class="btn btn-primary btn-sm"
                                                    data-bs-toggle="tooltip" data-bs-placement="right"
                                                    title="View Voter List">
                                                    <i class="fa-solid fa-users-line"></i></a>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                        {% endif %}
                                    </tbody>
                                </table>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary"
                                        data-bs-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Town Details Modal -->
                <div class="modal fade" id="townDetailsModal" tabindex="-1" aria-labelledby="townDetailsModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog modal-dialog-scrollable modal-lg d-none d-md-block">
                        <!-- Large modal for medium and up -->
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="townDetailsModalLabel">Town Details List</h5>
                            </div>
                            <div class="modal-body">
                                <table class="table p-1">
                                    <thead class="text-muted text-uppercase">
                                        <tr>
                                            <th class="text-center fw-bolder">Sr. No.</th>
                                            <th class="fw-bolder">Town Name</th>
                                            <th class="fw-bolder">Assigned User</th>
                                            <th class="fw-bolder">Voter Count</th>
                                            <th class="fw-bolder">Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody id="town-table-body">
                                        {% if page_obj %}
                                        {% for booth in page_obj %}
                                        <tr>
                                            <td class="text-center">{{ forloop.counter }}</td>
                                            <td>{{ booth.booth_name }}</td>
                                            <td>{% if booth.user_names %}{{ booth.user_names|safe }}{% else %}
                                                N/A {% endif %}</td>
                                            <td>{{ booth.mycount }}</td>
                                            <td>
                                                <a href="zpwisevoterlist/{{zp.zp_id}}/" class="btn btn-primary btn-sm"
                                                    data-bs-toggle="tooltip" data-bs-placement="right"
                                                    title="View Voter List">
                                                    <i class="fa-solid fa-users-line"></i>
                                                </a>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                        {% endif %}
                                    </tbody>
                                </table>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary"
                                        data-bs-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Booth Details Modal -->
                <div class="modal fade" id="boothDetailsModal" tabindex="-1" aria-labelledby="boothDetailsModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog modal-dialog-scrollable modal-lg d-none d-md-block">
                        <!-- Large modal for medium and up -->
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="boothDetailsModalLabel">Booth Details List</h5>
                            </div>
                            <div class="modal-body">
                                <table class="table p-1">
                                    <thead class="text-muted text-uppercase">
                                        <tr>
                                            <th class="text-center fw-bolder">Sr. No.</th>
                                            <th class="fw-bolder">Booth Name</th>
                                            <th class="fw-bolder">Assigned User</th>
                                            <th class="fw-bolder">Voter Count</th>
                                            <th class="fw-bolder">Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody id="booth-table-body">
                                        {% if page_obj %}
                                        {% for booth in page_obj %}
                                        <tr>
                                            <td class="text-center">{{ forloop.counter }}</td>
                                            <td>{{ booth.booth_name }}</td>
                                            <td>{% if booth.user_names %}{{ booth.user_names|safe }}{% else %}
                                                N/A {% endif %}</td>
                                            <td>{{ booth.mycount }}</td>
                                            <td>
                                                <a href="zpwisevoterlist/{{zp.zp_id}}/" class="btn btn-primary btn-sm"
                                                    data-bs-toggle="tooltip" data-bs-placement="right"
                                                    title="View Voter List">
                                                    <i class="fa-solid fa-users-line"></i>
                                                </a>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                        {% endif %}
                                    </tbody>
                                </table>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary"
                                        data-bs-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Pagination controls -->
                <div class="d-flex justify-content-center">
                    <nav aria-label="Page navigation">
                        <ul class="pagination justify-content-center mx-4">
                            {% if page_obj.has_previous %}
                            <li class="page-item">
                                <a class="page-link"
                                    href="?page=1{% if search_query %}&search={{ search_query }}{% endif %}"
                                    aria-label="First">
                                    <span aria-hidden="true">&laquo;&laquo;</span>
                                </a>
                            </li>
                            <li class="page-item">
                                <a class="page-link"
                                    href="?page={{ page_obj.previous_page_number }}{% if search_query %}&search={{ search_query }}{% endif %}"
                                    aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            {% else %}
                            <li class="page-item disabled"><span class="page-link">&laquo;&laquo;</span></li>
                            <li class="page-item disabled"><span class="page-link">&laquo;</span></li>
                            {% endif %}

                            <!-- Page Numbers -->
                            {% for num in page_obj.paginator.page_range %}
                            {% if num >= page_obj.number|add:'-1' and num <= page_obj.number|add:'1' %} <li
                                class="page-item {% if page_obj.number == num %}active{% endif %}">
                                <a class="page-link"
                                    href="?page={{ num }}{% if search_query %}&search={{ search_query }}{% endif %}">
                                    {{ num }}</a>
                                </li>
                                {% endif %}
                                {% endfor %}

                                <!-- Next Page and Last Page -->
                                {% if page_obj.has_next %}
                                <li class="page-item">
                                    <a class="page-link"
                                        href="?page={{ page_obj.next_page_number }}{% if search_query %}&search={{ search_query }}{% endif %}"
                                        aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link"
                                        href="?page={{ page_obj.paginator.num_pages }}{% if search_query %}&search={{ search_query }}{% endif %}"
                                        aria-label="Last">
                                        <span aria-hidden="true">&raquo;&raquo;</span>
                                    </a>
                                </li>
                                {% else %}
                                <li class="page-item disabled"><span class="page-link">&raquo;</span></li>
                                <li class="page-item disabled"><span class="page-link">&raquo;&raquo;</span></li>
                                {% endif %}
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            // Initialize tooltips
            const tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'));
            tooltipTriggerList.forEach(function (tooltipTriggerEl) {
                new bootstrap.Tooltip(tooltipTriggerEl);
            });

            // Event delegation for zp names in the user table
            document.getElementById('user-table-body').addEventListener('click', function (event) {
                if (event.target.closest('td[data-zp-id]')) {
                    const zpId = event.target.closest('td[data-zp-id]').getAttribute('data-zp-id');
                    console.log(zpId);
                    fetchPSDetails(zpId);
                }
            });

            // Clear search input and reload the page without search query
            document.getElementById('clear-button').addEventListener('click', function () {
                document.getElementById('search-input').value = '';
                var url = new URL(window.location.href);
                url.searchParams.delete('search'); // Remove search query parameter from the URL
                window.location.href = url.toString(); // Reload the page with the updated URL
            });

        });

        // Fetch zp details based on PSC id
        function fetchPSDetails(zpId) {
            fetch(`http://192.168.200.151:8001/api/get_panchayat_samiti_circle_by_zp_circle/${parseInt(zpId)}/`)
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Network response was not ok');
                    }
                    return response.json();
                })
                .then(data => {
                    const psTableBody = document.getElementById('ps-table-body');
                    psTableBody.innerHTML = ''; // Clear previous data

                    // Check if 'data' exists and is an array
                    if (Array.isArray(data)) {  // Adjusted to directly check if 'data' is an array
                        data.forEach((ps, index) => {
                            const row = `
                                    <tr>
                                        <td class="text-center">${index + 1}</td>
                                        <td data-zp-id="${ps.panchayat_samiti_circle_id}" data-zp-name="${ps.panchayat_samiti_circle_name}" class="zp-name">
                                            <a class="link-underline-primary text-dark" style="cursor: pointer;">
                                                ${ps.panchayat_samiti_circle_name}</a>
                                        </td>
                                    </tr>
                                `;
                            psTableBody.innerHTML += row;
                        });
                    }

                    // Show the PS details modal
                    const PSCircleModal = new bootstrap.Modal(document.getElementById('PSCircleDetailsModal'));
                    PSCircleModal.show();

                    // Add event listener for zp names
                    psTableBody.addEventListener('click', function (event) {
                        if (event.target.closest('.zp-name')) {
                            const PSCId = event.target.closest('.zp-name').getAttribute('data-zp-id');
                            const PSCName = event.target.closest('.zp-name').getAttribute('data-zp-name');
                            fetchzpDetails(PSCId, PSCName);
                        }
                    });
                })
                .catch(error => {
                    console.error('Error fetching PS Circle details:', error);
                });
        }

        // Fetch zp details based on PSC id
        function fetchzpDetails(PSCId, PSCName) {
            fetch(`http://192.168.200.151:8001/api/get_town_info_by_psc/${parseInt(PSCId)}/`)
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Network response was not ok');
                    }
                    return response.json();
                })
                .then(data => {
                    const townTableBody = document.getElementById('town-table-body');
                    townTableBody.innerHTML = ''; // Clear previous data

                    // Set the modal title to the zp name
                    const modalTitle = document.getElementById('boothDetailsModalLabel');
                    modalTitle.textContent = `${PSCName} PSC's Town List`; // Update the title

                    // Check if 'data' exists and is an array
                    if (Array.isArray(data)) {  // Adjusted to directly check if 'data' is an array
                        data.forEach((town) => {
                            const row = `
                                    <tr>
                                        <td class="text-center">${town.serial_number}</td>
                                        <td data-booth-id="${town.town_id}" data-booth-name="${town.town_name}" class="booth-name"><a class="link-underline-primary text-dark" style="cursor: pointer;">
                                                ${town.town_name}</a></td>
                                        <td>${town.town_user_names || '--'}</td> 
                                        <td>${town.voter_count || '--'}</td>
                                        <td>
                                            <a href="/townwisevoterlist/${town.town_id}/" 
                                            class="btn btn-primary btn-sm" 
                                            data-bs-toggle="tooltip" 
                                            data-bs-placement="right" 
                                            title="View Voter List">
                                                <i class="fa-solid fa-users-line"></i>
                                            </a>
                                        </td>
                                    </tr>
                                `;
                            townTableBody.innerHTML += row;
                        });
                    }
                    // Show the booth details modal
                    const townDetailsModal = new bootstrap.Modal(document.getElementById('townDetailsModal'));
                    townDetailsModal.show();

                    // Add event listener for town names
                    townTableBody.addEventListener('click', function (event) {
                        if (event.target.closest('.booth-name')) {
                            const townId = event.target.closest('.booth-name').getAttribute('data-booth-id');
                            const townName = event.target.closest('.booth-name').getAttribute('data-booth-name');
                            // console.log("tid-", townId);

                            fetchBoothDetails(townId, townName);
                        }
                    });
                })
                .catch(error => {
                    console.error('Error fetching zp details:', error);
                });
        }

        // Function to fetch booth details from the API
        function fetchBoothDetails(townId, townName) {
            console.log("tid-", townId);

            fetch(`http://192.168.200.151:8001/api/get_booth_details_by_town_id/${parseInt(townId)}/`)
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Network response was not ok');
                    }
                    return response.json();
                })
                .then(data => {
                    const boothTableBody = document.getElementById('booth-table-body');
                    boothTableBody.innerHTML = ''; // Clear previous data

                    // Set the modal title to the zp name
                    const modalTitle = document.getElementById('boothDetailsModalLabel');
                    modalTitle.textContent = `${townName} Town's Booth List`; // Update the title

                    // Check if 'data' exists and is an array
                    if (Array.isArray(data.data)) {
                        data.data.forEach((booth, index) => {
                            // Parse booth_users_info to handle multiple users if available
                            let boothUsers = [];
                            if (booth.booth_users_info) {
                                const userEntries = booth.booth_users_info.split(','); // Split by comma to get individual user info
                                boothUsers = userEntries.map(userEntry => {
                                    const userParts = userEntry.split('|'); // Split by pipe to get user name and contact
                                    return `${userParts[0] || '--'}`; // Format as 'Username (Contact)'
                                });
                            }

                            // Join all users with commas
                            const usersDisplay = boothUsers.join(', ');

                            const row = `
                                <tr>
                                    <td class="text-center">${index + 1}</td>
                                    <td>${booth.booth_name}</td>
                                    <td>${usersDisplay || '--'}</td>
                                    <td>${booth.voter_count || '--'}</td>
                                    <td>
                                        <a href="/boothwisevoterlist/${townId}/${booth.booth_id}/" 
                                        class="btn btn-primary btn-sm" 
                                        data-bs-toggle="tooltip" 
                                        data-bs-placement="right" 
                                        title="View Voter List">
                                            <i class="fa-solid fa-users-line"></i>
                                        </a>
                                    </td>
                                </tr>
                            `;
                            boothTableBody.innerHTML += row;
                        });
                    }

                    // Show the modal
                    const boothDetailsModal = new bootstrap.Modal(document.getElementById('boothDetailsModal'));
                    boothDetailsModal.show();
                })
                .catch(error => {
                    console.error('Error fetching booth details:', error);
                });
        }
    </script>

</body>

</html>